@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Sans&family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

    color: #fff;
    width: 100%;
    font-family: 'Lilita One', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    background: linear-gradient(-45deg, rgb(85, 0, 0),#3a0000,#960000af);
	background-size: 400% 400%;
	animation: gradient 40s ease infinite;
	height: 100%;
   
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 8px 10px;
    background: #130000e0;
    
    justify-content: space-between;
    align-items: center;
    display: flex;
    z-index: 100;
}
.logo{
    font-size: 60px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 0 60px;

}

.navbar a{

    font-family: monospace;
    font-size: 1vw;
    color:#130000e0;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    background: #c0c0c0;
    cursor: pointer;
    margin: 35px 20px; 
    text-decoration: none;
  }
  .navbar a:active {
    box-shadow: none;
    transform: translate(3px, 3px);
    background: #4d0000;
    color: #ffffff;
}




.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left:15%;
    padding-top: 7%;
}
.home-img{
    padding: 0 3%;
}
.home-content{
    max-width: 700px;
}
.home-content h1{
    font-size: 56px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #969696;
}

.home-content h2{
    padding: 0 20px;
    font-size: 40px;
    font-weight: 700;
}
.home-content p{
    font-size: 20px; 
    max-width: 800px;
}

.btn{
    padding: 2vw 5vw;
 
 }
 
 .btn a{
     font-family: monospace;
     font-size: 1vw;
     color: #7a0000;
     text-transform: uppercase;
     padding: 10px 20px;
     border-radius: 10px;
     background: #c0c0c0;
     cursor: pointer;
     margin: 35px 20px; 
     text-decoration: none;
     
 }
 
 .btn a:hover{
     box-shadow: none;
     border-radius: 10px;
     background: #4d0000;
     color: #fafafa;
 }

.img{
   width: 500px;
   border-radius: 50%;
   border:5px solid #585858;
   box-shadow:0px 0px 4px #000000;
}


.About{
    max-width: 700px;
    height: 85%;
    display: flex;
    padding: 8% 0;

    
}
.About-left{
    padding: 0 35%;
  
}
.About-Me{
    width: 35vw;
    padding: 5% 5%;
}
.About-Me p{
    padding: 2% 0;
    font-size: 1.2vw;
  
}



.btn-contact{
    width: 100%;
    margin: 0 44%;
 }
 
 .btn-contact a{
     font-family: monospace;
     font-size: 2vw;
     color: #ffffffd3;
     text-transform: uppercase;
     padding: 10px 20px;
     border-radius:50%;
     cursor: pointer;
     margin: 35px 20px; 
     border:3px solid #ff00004d;
     text-decoration: none;
     
 }
 
 .btn-contact a:hover{
     box-shadow: none;
     border-radius:50%;
     background: #310000;
     border:3px solid #ffffffbe;
     color: #ffffff;
 }

.contact{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;


  
}
.About-contact h1{
    width: 100%;
    margin: 6% 38%;
   
}

.mail{width: 100px;margin: 20px 65px; cursor: pointer;transition: 0.5s}.mail:hover{transform: scale(1.8);}
.FB{width: 100px;margin: 20px 65px; cursor: pointer;transition: 0.5s}.FB:hover{transform: scale(1.8);}
.IG{width: 100px;margin: 20px 65px; cursor: pointer;transition: 0.5s}.IG:hover{transform: scale(1.8);}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    background-color: #0000009f;
}