@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Noto+Sans&family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #838383;
    color: #fff;
    width: 100%;
    font-family: 'Lilita One', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
}

.performance-content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-performance-left{
    display: flex;
    align-items: center;
    background-color:#c0c0c0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right:5px solid rgb(65, 65, 65) ;
}

.btn-performance-left a{
    font-family: monospace;
    font-size: 2vw;
    color:#130000e0;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lilita One', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    
}

.btn-performance-left a:hover{
    box-shadow: none;
    background: #4d0000;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: #ffffff;
    font-family: 'Lilita One', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Prompt', sans-serif;

}.btn-performance-right{
    display: flex;
    align-items: center;
    background-color:#c0c0c0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}

.btn-performance-right a{
    font-family: monospace;
    font-size: 2vw;
    color:#130000e0;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Lilita One', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
    
}

.btn-performance-right a:hover{
    box-shadow: none;
    background: #4d0000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #ffffff;
    font-family: 'Lilita One', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Prompt', sans-serif;
}

.senza{width: 100px; cursor: pointer;transition: 0.5s}.senza:hover{transform: scale(2.5);}
.img{width: 100px; cursor: pointer;transition: 0.5s}.img:hover{transform: scale(1.1);}
.img01{width: 100px; cursor: pointer;transition: 0.5s}.img01:hover{transform: scale(1.15);}

.performance-img img{width: 100px; cursor: pointer;transition: 0.5s}.performance-img img:hover{transform: scale(1.25);}



    
.certificate{
    height: 200vh;
    align-items: center;
    padding-left:5%;
    padding-top: 10%;
    
}
.certificatelist{
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.certificate-img{
    padding: 2% 3%;
}
.CTFC{
    max-width: 650px;  

}
.PFM{
    max-width: 650px;  
    margin: 60px 0;
}
.CTFC h3,.PFM h3 {
    font-size:30px ;
    padding: 20px 25px;
    width: 600px;
}
.CTFC h4,.PFM h3 {
    padding: 10px 25px;
    font-size:20px ;
}
.certificate h1{
    font-size: 56px;
    font-weight: 700;
}

.CTFC p,.PFM p{
    font-size: 20px; 
    max-width: 600px;
}
.performance-img img{
    width: 600px;
    border-radius: 30px;
    border:3px solid #9c9c9c;
    box-shadow:0px 0px 4px #000000;
}
.img{
   width: 450px;
   border-radius: 2px;
   border:1px solid #000000;
   box-shadow:0px 0px 4px #000000;
}

.img01{width: 600px; }
 
 



